---
env:
    browser: true
    worker: true
    phantomjs: true
    shelljs: true
    node: true
    es6: true
ecmaFeatures:
    jsx: true 
    modules: true
plugins: 
    - react
parser:
    babel-eslint
rules:
    // for babel-eslint
    strict: 0
    eqeqeq: 0
    quotes: 0
    comma-spacing: 0
    no-use-before-define: 0
    no-trailing-spaces: 0

